<div class="jumbotron">
    <h1 class="display-4">Welcome <%= name %> to Dashboard</h1>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/users/login" role="button">Logout</a>
  </div>